



body {
  background: url('../images/beautiful.png');
  font-family: 'Open Sans', arial, sans-serif;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.container {
  width: 100%;
  margin: auto;
  padding: 0;
}


.hero img {
  border-radius: 0;
}

aside.right, aside.left {
  text-align: center;
  float: inherit;
}


p {
  text-align: center;
  font-size : 1.125rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  padding: 20px;
}


h1 {
  font-size: 2.5rem;
  font-style: italic;
}
